
<form class="ui form">
    <h4 class="ui dividing header">Informações sobre o veículo</h4>
    <div class="field">
        <div class="two">
            <div class="field">
                <label>Placa</label>
                <input type="text" name="placa" placeholder="Nº Placa">
            </div>
            <div class="field">
                <label>Forneça mais detalhes</label>
                <textarea></textarea>
            </div>
        </div>
    </div>

    <div class="field">
        <label>Localização</label>
        <div class="field" id="map"></div>
    </div>

    <h4 class="ui dividing header">Contato</h4>
    <div class="field">
        <div class="two">
            <div class="field">
                <label>Facebook</label>
                <input type="text" name="facebook" placeholder="Cole o link do seu facebook">
            </div>
            <div class="field">
                <label>Whatts App</label>
                <input type="text" name="whattsapp" placeholder="numero do seu whattsapp">
            </div>
        </div>
    </div>

    <div class="ui button" tabindex="0">Enviar</div>
</form>